<!DOCTYPE html>
<html lang="ko" dir="ltr">
{% load static %}
  <head>
    <title>Deep Stock</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen, projection">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/stock_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  </head>
  <body>
    <header>
      <a href="/">home</a>
    </header>
    <main role="main" class="container">
      <div class="stock_list">
        {% if stock_list %}
        <div class="stock_container">
          <ul>
            {% for kospi_company in stock_list.kospi_list %}
            <li class="listitem">
              <a class="stock_item" href="/stock_analysis/{{kospi_company.code}}/">
                {{kospi_company.name}}
                {{kospi_company.price}}
              </a>
            </li>
            {% endfor %}
          </ul>
          <p>코스피 종목 리스트입니다.</p>
        </div>
        <div class="stock_container">
          <ul>
            {% for kosdaq_company in stock_list.kosdaq_list %}
            <li class="listitem">
              <a class="stock_item" href="/stock_analysis/{{kosdaq_company.code}}/">
                {{kosdaq_company.name}}
                {{kosdaq_company.price}}
              </a>
            </li>
            {% endfor %}
          </ul>
          <p>코스닥 종목 리스트입니다.</p>
        </div>
        {% else %}
          <p>No List</p>
        {% endif %}
      </div>
      <div class="description">
        원하는 종목을 선택해주세요.

      </div>
    </main>
    <footer>
    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  </body>
</html>
