<!DOCTYPE html>
<html lang="ko" dir="ltr">
  {% load static %}
  <head>
    <title>Welcome to Deep Stock</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen, projection">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  </head>
  <body>
    <header>
      
    </header>
    <main role="main" class="container z-depth-3">
      <div class="row">
        <div class="col s12 title">
            Deep Stock
        </div>
        <div class="col s5 hoverable left_card">
          10년간의 데이터 기반 <br>
          딥러닝을 통한 주가 예측 <br>
          ...
        </div>
        <div class="col s5 hoverable right_card">
          분산 시스템 기반 <br>
          하루에 한 번 업데이트 <br>
          ...
        </div>
      </div>
      <a href="/stock_list/" class="waves-effect waves-light btn">
        Enter
      </a>
    </main>
    <footer>
    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  </body>
</html>
