<!DOCTYPE html>
<html lang="ko" dir="ltr">
  {% load static %}
  <head>
    <title>Welcome to Deep Stock</title>
      	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Author Meta -->
	<meta name="author" content="DeepStock">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <section class="relative layer">
        <div class="banner-area">
            <div class="banner-content">
                <p class="text-white">We work hard, we result perfect</p>
                <h1 class="text-white">DeepStock can read the future</h1>
                <a href="{% url 'stock_list' %}" class="primary-btn banner-btn">Explore Us</a>
            </div>
        </div>
    </section>
    <!--JavaScript at end of body for optimized loading-->

  </body>
</html>
