<!DOCTYPE html>
<html lang="ko" dir="ltr">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <title>Welcome to Deep Stock</title>
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  </head>
  <body>
    <header>
      <a href="/demo/stock_list">stock_list</a>
      <a href="/demo/stock_analysis">stock_analysis</a>
    </header>
    <main role="main" class="container">
      <div class="title">
        Deep Stock
      </div>
      <div class="logo_container">
        <img class="logo" src="{% static 'img/logo.png' %}" alt="">
      </div>
      <div class="intro">
        Deep Stock에 오신 것을 환영합니다.<br>
        ...

      </div>
    </main>
    <footer>

    </footer>
  </body>
</html>
