.container{
  font-size: 1.2em;
  font-family: 'Do Hyeon', sans-serif;
  text-align:center;
  height: 400px
}


.stock_container{
  display: inline-block;
  width: 280px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
}
li a{
  display: block;
  padding: 1em;
  text-decoration: none;
}
li a:visited{
  color:white;
}

li:hover{
  background-color: #111111;
}
