.title{
  height:100px;
  font-size: -webkit-xxx-large;
}

.logo{
  height:140px;
}

.banner{
  height: 25rem;
  width: 100%;
}

.intro{
  height:100px;
}

body{
  margin-left: 0px;
  margin-right: 0px;
}
