.title{
  height:100px;
  font-size: -webkit-xxx-large;
}

.logo{
  height:140px;
}

.banner{
  height: 25rem;
  width: 100%;
}

.intro{
  height:100px;
}

body{
  margin: 0px;
  background-color: #2ebeff !important;
}

.container {
  background-color: #3ec6cc !important;
  border-radius: 20px;
  font-size: 1.2em;
  font-family: 'Do Hyeon', sans-serif;
  text-align:center;
  height: 400px

}

.left_card{
  background-color: #7abdec;
  float: left !important;
  margin-left: 10px !important;
}

.right_card{
  background-color: #7abdec;
  float: right !important;
  margin-right: 10px !important;
}
